#### Step 1: Importing Libraries

In [2]:
import json
import pandas as pd
import glob

#### Step 2: Data Loading

In [7]:
# Step 1: Get all JSON file names from the folder
files = glob.glob("*.json") # change this to your folder path

print("Found files:", files)

Found files: ['energy.json', 'social_and_economic.json', 'electricity.json']

In [10]:
# Step 2: Read and combine them all
dataframes = []

for file in files:
    with open(file, "r") as f:
        data = json.load(f)
        df = pd.DataFrame(data)
        dataframes.append(df)

print(dataframes)

[      id      name      score                unit      region_name  \
0     DZ   Algeria   1.122612  Millions of people     North Africa
1     DZ   Algeria   0.947765  Millions of people     North Africa
2     DZ   Algeria   0.831871  Millions of people     North Africa
3     DZ   Algeria   0.712877  Millions of people     North Africa
4     DZ   Algeria   0.623791  Millions of people     North Africa
...   ..       ...        ...                 ...              ...
3721  ZW  Zimbabwe  30.299999     % of population  Southern Africa
3722  ZW  Zimbabwe  30.299999     % of population  Southern Africa
3723  ZW  Zimbabwe       30.5     % of population  Southern Africa
3724  ZW  Zimbabwe       30.5     % of population  Southern Africa
3725  ZW  Zimbabwe  30.799999     % of population  Southern Africa

     indicator_topic   indicator_source  \
0             Access  Tracking SDG7/WBG
1             Access  Tracking SDG7/WBG
2             Access  Tracking SDG7/WBG
3             Access  Tracking SDG7/WBG
4             Access  Tracking SDG7/WBG
...              ...                ...
3721          Access               None
3722          Access               None
3723          Access               None
3724          Access               None
3725          Access               None

                                         indicator_name indicator_group  year  \
0     Energy: Population without access to clean coo...          Energy  2000
1     Energy: Population without access to clean coo...          Energy  2001
2     Energy: Population without access to clean coo...          Energy  2002
3     Energy: Population without access to clean coo...          Energy  2003
4     Energy: Population without access to clean coo...          Energy  2004
...                                                 ...             ...   ...
3721  Energy: Population with access to clean cookin...          Energy  2018
3722  Energy: Population with access to clean cookin...          Energy  2019
3723  Energy: Population with access to clean cookin...          Energy  2020
3724  Energy: Population with access to clean cookin...          Energy  2021
3725  Energy: Population with access to clean cookin...          Energy  2022

                        url
0      /aep/country/algeria
1      /aep/country/algeria
2      /aep/country/algeria
3      /aep/country/algeria
4      /aep/country/algeria
...                     ...
3721  /aep/country/zimbabwe
3722  /aep/country/zimbabwe
3723  /aep/country/zimbabwe
3724  /aep/country/zimbabwe
3725  /aep/country/zimbabwe

[3726 rows x 11 columns],       id      name        score                unit      region_name  \
0     DZ   Algeria    12.498847  Millions of people     North Africa
1     DZ   Algeria     12.41194  Millions of people     North Africa
2     DZ   Algeria    12.317847  Millions of people     North Africa
3     DZ   Algeria    12.221443  Millions of people     North Africa
4     DZ   Algeria    12.127441  Millions of people     North Africa
...   ..       ...          ...                 ...              ...
4963  ZW  Zimbabwe  23651000320         Current US$  Southern Africa
4964  ZW  Zimbabwe  22599999488         Current US$  Southern Africa
4965  ZW  Zimbabwe  21670000640         Current US$  Southern Africa
4966  ZW  Zimbabwe  21901393920         Current US$  Southern Africa
4967  ZW  Zimbabwe  23440736256         Current US$  Southern Africa

       indicator_topic  indicator_source  \
0           Population  AfDB Data portal
1           Population  AfDB Data portal
2           Population  AfDB Data portal
3           Population  AfDB Data portal
4           Population  AfDB Data portal
...                ...               ...
4963  National Account  AfDB Data portal
4964  National Account  AfDB Data portal
4965  National Account  AfDB Data portal
4966  National Account  AfDB Data portal
4967  National Account  AfDB Data portal

                             indicator_name      indicator_group  year  \
0     Rural population (millions of people)  Social and Economic  2000
1     Rural population (millions of people)  Social and Economic  2001
2     Rural population (millions of people)  Social and Economic  2002
3     Rural population (millions of people)  Social and Economic  2003
4     Rural population (millions of people)  Social and Economic  2004
...                                     ...                  ...   ...
4963                      GDP (current US$)  Social and Economic  2018
4964                      GDP (current US$)  Social and Economic  2019
4965                      GDP (current US$)  Social and Economic  2020
4966                      GDP (current US$)  Social and Economic  2021
4967                      GDP (current US$)  Social and Economic  2022

                        url
0      /aep/country/algeria
1      /aep/country/algeria
2      /aep/country/algeria
3      /aep/country/algeria
4      /aep/country/algeria
...                     ...
4963  /aep/country/zimbabwe
4964  /aep/country/zimbabwe
4965  /aep/country/zimbabwe
4966  /aep/country/zimbabwe
4967  /aep/country/zimbabwe

[4968 rows x 11 columns],        id      name         score unit      region_name indicator_topic  \
0      DZ   Algeria         25412  GWh     North Africa          Supply
1      DZ   Algeria  26830.699219  GWh     North Africa          Supply
2      DZ   Algeria  27865.699219  GWh     North Africa          Supply
3      DZ   Algeria  29845.740234  GWh     North Africa          Supply
4      DZ   Algeria  30885.099609  GWh     North Africa          Supply
...    ..       ...           ...  ...              ...             ...
42223  ZW  Zimbabwe             0   MW  Southern Africa       Technical
42224  ZW  Zimbabwe             0   MW  Southern Africa       Technical
42225  ZW  Zimbabwe             0   MW  Southern Africa       Technical
42226  ZW  Zimbabwe             0   MW  Southern Africa       Technical
42227  ZW  Zimbabwe             0   MW  Southern Africa       Technical

      indicator_source                                     indicator_name  \
0       AFREC Database                Electricity generation, Total (GWh)
1       AFREC Database                Electricity generation, Total (GWh)
2       AFREC Database                Electricity generation, Total (GWh)
3       AFREC Database                Electricity generation, Total (GWh)
4       AFREC Database                Electricity generation, Total (GWh)
...                ...                                                ...
42223   IRENA database  Electricity installed capacity in Geothermal (MW)
42224   IRENA database  Electricity installed capacity in Geothermal (MW)
42225   IRENA database  Electricity installed capacity in Geothermal (MW)
42226   IRENA database  Electricity installed capacity in Geothermal (MW)
42227   IRENA database  Electricity installed capacity in Geothermal (MW)

      indicator_group  year                    url
0         Electricity  2000   /aep/country/algeria
1         Electricity  2001   /aep/country/algeria
2         Electricity  2002   /aep/country/algeria
3         Electricity  2003   /aep/country/algeria
4         Electricity  2004   /aep/country/algeria
...               ...   ...                    ...
42223     Electricity  2018  /aep/country/zimbabwe
42224     Electricity  2019  /aep/country/zimbabwe
42225     Electricity  2020  /aep/country/zimbabwe
42226     Electricity  2021  /aep/country/zimbabwe
42227     Electricity  2022  /aep/country/zimbabwe

[42228 rows x 11 columns]]

In [11]:
# Step 3: Combine all into one DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

print("Combined shape:", combined_df.shape)
print(combined_df.head())

Combined shape: (50922, 11)
   id     name     score                unit   region_name indicator_topic  \
0  DZ  Algeria  1.122612  Millions of people  North Africa          Access
1  DZ  Algeria  0.947765  Millions of people  North Africa          Access
2  DZ  Algeria  0.831871  Millions of people  North Africa          Access
3  DZ  Algeria  0.712877  Millions of people  North Africa          Access
4  DZ  Algeria  0.623791  Millions of people  North Africa          Access

    indicator_source                                     indicator_name  \
0  Tracking SDG7/WBG  Energy: Population without access to clean coo...
1  Tracking SDG7/WBG  Energy: Population without access to clean coo...
2  Tracking SDG7/WBG  Energy: Population without access to clean coo...
3  Tracking SDG7/WBG  Energy: Population without access to clean coo...
4  Tracking SDG7/WBG  Energy: Population without access to clean coo...

  indicator_group  year                   url
0          Energy  2000  /aep/country/algeria
1          Energy  2001  /aep/country/algeria
2          Energy  2002  /aep/country/algeria
3          Energy  2003  /aep/country/algeria
4          Energy  2004  /aep/country/algeria

#### Step 3: Data Cleaning & Formatting

In [12]:
# Step 1: Rename columns
df = combined_df.rename(columns={
    "id": "country_serial",
    "name": "country",
    "indicator_name": "metric",
    "unit": "unit",
    "indicator_group": "sector",
    "indicator_topic": "sub_sector",
    "indicator_source": "source",
    "url": "source_link",
    "score": "value"
})

df.head()

,country_serial,country,value,unit,region_name,sub_sector,source,metric,sector,year,source_link
0,DZ,Algeria,1.122612,Millions of people,North Africa,Access,Tracking SDG7/WBG,Energy: Population without access to clean coo...,Energy,2000,/aep/country/algeria
1,DZ,Algeria,0.947765,Millions of people,North Africa,Access,Tracking SDG7/WBG,Energy: Population without access to clean coo...,Energy,2001,/aep/country/algeria
2,DZ,Algeria,0.831871,Millions of people,North Africa,Access,Tracking SDG7/WBG,Energy: Population without access to clean coo...,Energy,2002,/aep/country/algeria
3,DZ,Algeria,0.712877,Millions of people,North Africa,Access,Tracking SDG7/WBG,Energy: Population without access to clean coo...,Energy,2003,/aep/country/algeria
4,DZ,Algeria,0.623791,Millions of people,North Africa,Access,Tracking SDG7/WBG,Energy: Population without access to clean coo...,Energy,2004,/aep/country/algeria

In [6]:
# Step 2: Convert value column to numeric
df["value"] = pd.to_numeric(df["value"], errors="coerce")

- The above code cell “Convert every entry in the ‘value’ column to a number. e.g. Some values might appear as "36.5" instead of 36.5

- If something cannot be converted (like ‘N/A’ or text), replace it with NaN (which means missing value).

- If we try to perform calculations or reshape this data while it’s still text, pandas will throw an error because it can’t compute mathematical operations on strings.

- `errors="coerce"` tells pandas: “If you can’t convert something to a number, turn it into NaN (missing value), don’t crash.”

In [13]:
# Step 3: Pivot data (years → columns)
pivot_df = df.pivot_table(
    index=[
        "country", "country_serial", "metric", "unit",
        "sector", "sub_sector", "source_link", "source"
    ],
    columns="year",
    values="value",
    aggfunc="first"   # safer than 'mean'
).reset_index()

In [17]:
# Step 4: Flatten the columns - removes the year column
pivot_df.columns.name = None

In [18]:
# Step 5: Save to CSV
pivot_df.to_csv("africa_energy_data.csv", index=False)

pivot_df.head()

,country,country_serial,metric,unit,sector,sub_sector,source_link,source,2000,2001,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Algeria,DZ,Electricity export (GWh),GWh,Electricity,Supply,/aep/country/algeria,AFREC Database,319,196,...,384,877,641,507,918.764526,833.876404,975.834595,1128.864014,1529.344971,NULL
1,Algeria,DZ,Electricity final consumption (GWh),GWh,Electricity,Supply,/aep/country/algeria,AFREC Database,18592,19664,...,40188,45751,47956.96875,52288,56376.101562,58152.601562,59053.726562,60044.328125,62502.121094,NULL
2,Algeria,DZ,Electricity final consumption per capita (KWh),KWh per capita,Electricity,Supply,/aep/country/algeria,AFREC Database,596.209656,622.433105,...,1048.239624,1169.704102,1202.787354,1287.689941,1364.439453,1384.320435,1383.671143,1385.640747,1421.494507,NULL
3,Algeria,DZ,Electricity generated from biofuels and waste ...,GWh,Electricity,Supply,/aep/country/algeria,AFREC Database,0,0,...,0,0,0,0,0,0,0,0,0,NULL
4,Algeria,DZ,Electricity generated from fossil fuels (GWh),GWh,Electricity,Supply,/aep/country/algeria,AFREC Database,25358,26556,...,59560,63988,68576,70663,75381.96875,75879.992188,79441.46875,83299.226562,84709.507812,NULL

In [19]:
pivot_df.shape

(1944, 31)

#### Step 4: Data Storage

In [8]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.3-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.3-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 3.5 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 5.9 MB/s eta 0:00:000m eta 0:00:01
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.15.3

In [20]:
from pymongo import MongoClient

# Step 1: Ensure year columns are strings - In MongoDB, field names (the keys) must always be strings.
pivot_df.columns = pivot_df.columns.map(str)

In [ ]:
# Step 2: Replace NaN with None (MongoDB does not accept NaN)
pivot_df = pivot_df.where(pd.notnull(pivot_df), None)

- MongoDB does not accept NaN values

- When you export from pandas to MongoDB, pandas uses NaN (Not a Number) to represent missing values.

- But in MongoDB (and in JSON), there is no such thing as NaN.

- The valid equivalent for “missing” is null, which corresponds to None in Python.

In [ ]:
# Step 3: Convert DataFrame to list of dicts
records = pivot_df.to_dict(orient="records")
print(records)

- This code cell above your entire pandas DataFrame (pivot_df) into a list of Python dictionaries, where:

    - each row in the DataFrame becomes one dictionary (document)

    - each column name becomes a key in that dictionary

- MongoDB doesn’t understand pandas DataFrames directly. MongoDB stores data as JSON-like documents

- It expects data in a structure like:

`{"key": "value", "key2": "value2"}`

In [22]:
# Step 4: Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["africa_energy_db"]
collection = db["energy_data"]

In [ ]:
# Step 5: Insert data
collection.insert_many(records)

In [ ]:
# Step 6: Verify
print("Inserted:", collection.count_documents({}), "documents")
print(collection.find_one())

Inserted: 1943 documents
{'_id': ObjectId('68ef1e0f36d3b506fcf02f9a'), 'country': 'Algeria', 'country_serial': 'DZ', 'metric': 'Electricity export (GWh)', 'unit': 'GWh', 'sector': 'Electricity', 'sub_sector': 'Supply', 'source_link': '/aep/country/algeria', 'source': 'AFREC Database', '2000': 319.0, '2001': 196.0, '2002': 259.0, '2003': 212.0, '2004': 197.0, '2005': 275.0, '2006': 298.0, '2007': 273.0, '2008': 323.0, '2009': 362.0, '2010': 803.0, '2011': 799.0, '2012': 985.0, '2013': 384.0, '2014': 877.0, '2015': 641.0, '2016': 507.0, '2017': 918.764526367188, '2018': 833.876403808594, '2019': 975.834594726563, '2020': 1128.86401367188, '2021': 1529.34497070313, '2022': nan}

Step 5: Data Validation

In [24]:
# Step 1: Load your CSV
df = pd.read_csv("africa_energy_data.csv")
print("Shape:", df.shape)
print(df.head())

Shape: (1944, 31)
   country country_serial                                             metric  \
0  Algeria             DZ                           Electricity export (GWh)
1  Algeria             DZ                Electricity final consumption (GWh)
2  Algeria             DZ     Electricity final consumption per capita (KWh)
3  Algeria             DZ  Electricity generated from biofuels and waste ...
4  Algeria             DZ      Electricity generated from fossil fuels (GWh)

             unit       sector sub_sector           source_link  \
0             GWh  Electricity     Supply  /aep/country/algeria
1             GWh  Electricity     Supply  /aep/country/algeria
2  KWh per capita  Electricity     Supply  /aep/country/algeria
3             GWh  Electricity     Supply  /aep/country/algeria
4             GWh  Electricity     Supply  /aep/country/algeria

           source          2000          2001  ...          2013  \
0  AFREC Database    319.000000    196.000000  ...    384.000000
1  AFREC Database  18592.000000  19664.000000  ...  40188.000000
2  AFREC Database    596.209656    622.433105  ...   1048.239624
3  AFREC Database      0.000000      0.000000  ...      0.000000
4  AFREC Database  25358.000000  26556.000000  ...  59560.000000

           2014          2015          2016          2017          2018  \
0    877.000000    641.000000    507.000000    918.764526    833.876404
1  45751.000000  47956.968750  52288.000000  56376.101562  58152.601562
2   1169.704102   1202.787354   1287.689941   1364.439453   1384.320435
3      0.000000      0.000000      0.000000      0.000000      0.000000
4  63988.000000  68576.000000  70663.000000  75381.968750  75879.992188

           2019          2020          2021  2022
0    975.834595   1128.864014   1529.344971   NaN
1  59053.726562  60044.328125  62502.121094   NaN
2   1383.671143   1385.640747   1421.494507   NaN
3      0.000000      0.000000      0.000000   NaN
4  79441.468750  83299.226562  84709.507812   NaN

[5 rows x 31 columns]

In [27]:
# Step 2: Check for missing values per column
missing_summary = df.isnull().sum()
print("Missing values per column:")
print(missing_summary[missing_summary > 0])

Missing values per column:
country_serial     36
2000                9
2001                9
2002                9
2003                9
2004                9
2005                9
2006                9
2007                9
2008                9
2009                9
2010                9
2011                8
2012                1
2013                1
2014                1
2015                1
2016                1
2017                1
2018                1
2019                2
2020                1
2021                1
2022              785
dtype: int64

In [29]:
# Step 3: Check rows with missing year values
year_cols = [col for col in df.columns if col.isdigit()]
print("Detected year columns:", year_cols, "\n")

missing_years = df[df[year_cols].isnull().any(axis=1)]
print(f"Found {len(missing_years)} rows with missing year values.")

Detected year columns: ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']

Found 792 rows with missing year values.

In [30]:
# Step 4: Check for missing or blank metric names
missing_metrics = df[df["metric"].isnull() | (df["metric"] == "")]
print(f"Rows missing metric names: {len(missing_metrics)}")

Rows missing metric names: 0

In [31]:
# Step 5: Check for unit consistency
print("Unique units:")
print(df["unit"].unique(), "\n")


unit_check = df.groupby("metric")["unit"].nunique().reset_index()
inconsistent_units = unit_check[unit_check["unit"] > 1]
print(f"Metrics with inconsistent units: {len(inconsistent_units)}")
if len(inconsistent_units) > 0:
    print(inconsistent_units, "\n")

Unique units:
['GWh' 'KWh per capita' 'MW' 'MJ/USD PPP 2017' 'Millions of people'
 'Current US$']

Metrics with inconsistent units: 0

In [33]:
# Step 6: Check country naming consistency
countries = sorted(df["country"].unique())
print(f"Total unique countries: {len(countries)}")
print("Sample countries:", countries[:10])

Total unique countries: 54
Sample countries: ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad']

In [ ]:
# Step 7: Final validation summary
summary = {
    "Total rows": len(df),
    "Rows with missing year data": len(missing_years),
    "Rows missing metric names": len(missing_metrics),
    "Metrics with inconsistent units": len(inconsistent_units),
    "Unique countries": len(countries)
}

print("Data Validation Summary:")
for key, value in summary.items():
    print(f"{key}: {value}")

Data Validation Summary:
Total rows: 1944
Rows with missing year data: 792
Rows missing metric names: 0
Metrics with inconsistent units: 0
Unique countries: 54